@import "../../app.scss";
@import "../../styles/color.scss";

.projectContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      141.27deg,
      rgba(204, 0, 187, 0.15) 0%,
      rgba(201, 32, 184, 0) 50%
    ),
    linear-gradient(
      38.73deg,
      rgba(0, 70, 209, 0) 50%,
      rgba(0, 70, 209, 0.15) 100%
    );
  font-size: 36px;
  font-weight: 600;
  text-align: center;

  @include mobile {
    font-size: 24px;
  }
  .projectWrapper {
    max-width: 1366px;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 50px 0;

    @media screen and (max-width: 768px) {
      gap: 6px;
    }

    .projectMainTitle {
      font-size: 42px;
      font-weight: bold;
      color: white;
      text-align: center;
      //   margin-top: 20px;

      @media screen and (max-width: 768px) {
        margin-top: 12px;
        font-size: 32px;
      }
    }

    .projectMainDesc {
      font-size: 18px;
      max-width: 650px;
      //   font-weight: bold;
      color: white;
      text-align: center;
      margin-top: 12px;
      margin-bottom: 12px;

      @media screen and (max-width: 768px) {
        max-width: 600px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 16px;
      }

      @media screen and (max-width: 500px) {
        max-width: 400px;
        // margin-top: 10px;
        font-size: 14px;
      }

      @media screen and (max-width: 500px) {
        max-width: 300px;
        // margin-top: 10px;
        font-size: 12px;
      }
    }

    .toggleGroup {
      display: flex;
      border: 1.5px solid $accent-color-2;
      color: $accent-color-2;
      // color: $tertiary-color;
      font-size: 16px;
      border-radius: 12px;
      font-weight: 500;
      margin: 22px 0;

      @media screen and (max-width: 768px) {
        font-size: 12px;
      }
    }
  }
}
