@import "../../styles/color.scss";

.expContainer {
  background: linear-gradient(
      38.73deg,
      rgba(204, 0, 187, 0.15) 0%,
      rgba(201, 32, 184, 0) 50%
    ),
    linear-gradient(
      141.27deg,
      rgba(0, 70, 209, 0) 50%,
      rgba(0, 70, 209, 0.15) 100%
    );
  //   clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 98%, 0 100%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;

  .expWrapper {
    max-width: 1366px;
    position: relative;

    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 50px 0;

    @media screen and (max-width: 768px) {
      gap: 6px;
    }

    .expMainTitle {
      font-size: 42px;
      font-weight: bold;
      color: white;
      text-align: center;
      //   margin-top: 20px;

      @media screen and (max-width: 768px) {
        margin-top: 12px;
        font-size: 32px;
      }
    }

    .expMainDesc {
      font-size: 18px;
      max-width: 450px;
      //   font-weight: bold;
      color: white;
      text-align: center;
      margin-top: 12px;
      margin-bottom: 12px;

      @media screen and (max-width: 768px) {
        max-width: 450px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 16px;
      }

      @media screen and (max-width: 500px) {
        max-width: 400px;
        // margin-top: 10px;
        font-size: 14px;
      }

      @media screen and (max-width: 500px) {
        max-width: 300px;
        // margin-top: 10px;
        font-size: 12px;
      }
    }
  }

  .css-1ms7hib-MuiTimelineItem-root::before {
    padding: 0;
  }

  @media screen and (max-width: 768px) {
    .css-ghevlx-MuiTypography-root-MuiTimelineContent-root {
      line-height: 1.3;
    }
  }

  @media screen and (max-width: 500px) {
    .css-55vwbm-MuiTimeline-root {
      padding: 0;
    }
  }

  .expTimeline {
    // overflow-y: auto;
    // overflow: visible;
    overflow-y: auto;
    max-height: 650px;
    margin-top: 100px;
    scrollbar-width: thin;
    scrollbar-color: $tertiary-color $secondary-color;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $tertiary-color;
      border-radius: 5px;
      //   height: 30px;
    }

    &::-webkit-scrollbar-track {
      background-color: $secondary-color;
      border-radius: 5px;
    }
    width: 100%;
    // max-width: 1000px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    gap: 12px;
    overflow-x: hidden;
  }
}
