// color pallete
@import "styles/color.scss";

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  transition: scroll-behavior 0.5s ease;
  scrollbar-width: thin;
  scrollbar-color: $accent-color-1 $secondary-color;

  &::-webkit-scrollbar {
    width: 8px;
    // border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $tertiary-color;
    border-radius: 5px;
    //   height: 30px;
  }

  &::-webkit-scrollbar-track {
    background-color: $secondary-color;
    border-radius: 5px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: $primary-color;
  color: lightgray;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: 1366px) {
    @content;
  }
}

// crash course framer motion
// .course {
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   .box {
//     width: 200px;
//     height: 200px;
//     background-color: white;
//   }
// }
